
@{
    ViewBag.Title = "Dashboard";
}
<div class="container">
    <h2 class="text-center">Dashboard</h2>
    <div class="row">
        <div class="card col-md-3">
            <br>
            <h2>Articulos</h2>
            <img src="~/Content/Imagenes/Dashboard/paquete.png" alt="img">
            <br>
            <br>
            <a href="/Articulo/Index/" class="btn btn-primary btn-lg btn-block">Ir</a>

        </div>
        <div class="col-md-1"></div>

        <div class="card col-md-3">
            <br>
            <h2>Categorias</h2>
            <img src="~/Content/Imagenes/Dashboard/categorias.png" alt="img">
            <br>
            <br>
            <a href="/Categoria/Index/" class="btn btn-primary btn-lg btn-block">Ir</a>

        </div>
        <div class="col-md-1"></div>

        <div class="card col-md-3">
            <br>
            <h2>Ciudades</h2>
            <img src="~/Content/Imagenes/Dashboard/edificios.png" alt="img">
            <br>
            <br>
            <a href="/Ciudad/Index/" class="btn btn-primary btn-lg btn-block">Ir</a>

        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="card col-md-3">
            <br>
            <h2>Marcas</h2>
            <img src="~/Content/Imagenes/Dashboard/nike.png" alt="img">
            <br>
            <br>
            <a href="/Marca/Index/" class="btn btn-primary btn-lg btn-block">Ir</a>

        </div>
        <div class="col-md-1"></div>


        <div class="card col-md-3">
            <br>
            <h2>Pedidos</h2>
            <img src="~/Content/Imagenes/Dashboard/orden.png" alt="img">
            <br>
            <br>
            <a href="/Pedido/Index/" class="btn btn-primary btn-lg btn-block">Ir</a>

        </div>
        <div class="col-md-1"></div>



        <div class="card col-md-3">
            <br>
            <h2>Subcategorias</h2>
            <img src="~/Content/Imagenes/Dashboard/posiciones.png" alt="img">
            <br>
            <br>
            <a href="/Subcategoria/Index/" class="btn btn-primary btn-lg btn-block">Ir</a>

        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="card col-md-3">
            <br>
            <h2>Sucursales</h2>
            <img src="~/Content/Imagenes/Dashboard/trabajar.png" alt="img">
            <br>
            <br>
            <a href="/Sucursal/Index/" class="btn btn-primary btn-lg btn-block">Ir</a>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>