@model IEnumerable<CarroCompra1.Models.Articulo>

@{
    ViewBag.Title = "ListaArticulo";
}
        @foreach (var item in Model)
        {

            <div class="card col-md-3">

                <img src="~/Content/Imagenes/Articulos/@item.UrlImagen" alt="img" style="width:100%">
                <h2>@Html.DisplayFor(modelItem => item.NombreArticulo)</h2>
                <p class="price">@Html.DisplayFor(modelItem => item.Precio)</p>
                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                <a href="@Url.Action("Agregar", new { id = item.IdArticulo}) " class="btn btn-primary btn-lg btn-block">Agregar</a>

            </div>
            <div class="col-md-1"></div>

        }
